<%= form_for(@track) do |f| %>
  <% if @track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
      <% @track.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :playlist_id %><br />
    <%= f.number_field :playlist_id %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :sc_id %><br />
    <%= f.number_field :sc_id %>
  </div>
  <div class="field">
    <%= f.label :artist%><br />
    <%= f.number_field :artist%>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.number_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
