<%= form_for(@pin) do |f| %>
  <% if @pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

      <ul>
      <% @pin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :track_id %><br />
    <%= f.number_field :track_id %>
  </div>
  <div class="field">
    <%= f.label :startpin %><br />
    <%= f.number_field :startpin %>
  </div>
  <div class="field">
    <%= f.label :stoppin %><br />
    <%= f.number_field :stoppin %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
