<%= form_for(@playlist) do |f| %>
  <% if @playlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@playlist.errors.count, "error") %> prohibited this playlist from being saved:</h2>

      <ul>
      <% @playlist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.label :url %><br />
    <%= f.number_field :url %>
 <%= f.submit, new_track_path %>

  <div class="active-player">
  <div class="players-holder">
    <% @playlist.tracks.each do |track| %>
    
      <% track.pins.each_with_index do |pin, i| %>
      <div id="track_<%= track.id %>">
        <div data-pins="<%=map_pins(track)%>" data-id="<%=track.id%>" class="player" data-url="<%=track.url%>" id="track-holder-<%=track.id%>-<%=i%>" data-duration="<%=pin.stoppin-pin.startpin%>" data-start="<%=pin.startpin%>" data-stop"<%=pin.stoppin%>"</div>
      </div>
      <%end%>
    <%end%>
  </div>
</div>
  
<% end %>
