<p id="notice"><%= notice %></p>


<%= image_tag("/assets/play.jpg", :class=>"play-button") %>

<%= link_to 'Edit',  tracks_playlist_path(@playlist) %> 

<div class="active-player">
  <div class="players-holder">
    <% @playlist.tracks.each do |track| %>
      <% track.pins.each_with_index do |pin, i| %>
      <div id="track_<%= track.id %>">
        <div data-pins="<%=map_pins(track)%>" data-id="<%=track.id%>" class="player" data-url="<%=track.url%>" id="track-holder-<%=track.id%>-<%=i%>" data-start="<%=pin.startpin%>" data-stop="<%=pin.stoppin%>">
        </div>
      </div>
      <%end%>
    <%end%>
  </div>
</div>
  




